In [1]:
!pip install tqdm pandas statsmodels openpyxl

Requirement already satisfied: tqdm in /opt/conda/lib/python3.11/site-packages (4.66.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.11/site-packages (0.14.0)
Requirement already satisfied: openpyxl in /opt/conda/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (1.11.2)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (23.1)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [3]:
ROOT_FOLDER = "data/"

In [4]:
DATABASE_C_PAIRS = "output_data_c.xlsx"
DATABASE_OTHER_PAIRS = "output_data_c_others_all.xlsx"

In [5]:
from statsmodels.stats import inter_rater as irr

In [6]:
NUMBER_OF_CATEGORIES = 5

In [7]:
NUMBER_OF_RATERS = 2

In [8]:
def calculate_fleiss_kappa(drug_list):
    drug_list_len = len(drug_list)
    data_matrix = np.zeros(shape=(drug_list_len,NUMBER_OF_RATERS), dtype=int)
    for i in range(drug_list_len):
        entry = drug_list[i]
        for j in range(0, NUMBER_OF_RATERS):
            data_matrix[i,j] = entry[j+2]
    agg,cat = irr.aggregate_raters(data_matrix) # returns a tuple (data, categories)
    fleiss_score = irr.fleiss_kappa(agg, method = 'fleiss')
    #print(agg)
    #print(fleiss_score)
    if np.isnan(fleiss_score):
        return np.finfo(np.float64).max
    return fleiss_score

### Only C category interactions

In [9]:
output_df_c = pd.read_excel(ROOT_FOLDER+DATABASE_C_PAIRS, sheet_name = "output_data_c")

ValueError: Worksheet named '2 baze de date_ATC_all' not found

In [ ]:
output_df_c

In [10]:
# Extract only category names
category_names_a = []
category_names_b = []
for index, row in tqdm(output_df_c.iterrows(), total = output_df_c.shape[0]):
    cat_a = row["ClassA"]
    cat_b = row["ClassB"]
    if cat_a not in category_names_a:
        category_names_a.append(cat_a)
    if cat_b not in category_names_b:
        category_names_b.append(cat_b);

NameError: name 'output_df_c' is not defined

In [11]:
category_names_a

[]

In [12]:
category_names_b

[]

In [13]:
category_pairs = []
for i in category_names_a:
    for j in category_names_b:
        if i == j:
            continue
        category_pairs.append((i,j))

In [14]:
category_pairs

[]

In [15]:
def search_dataframe(df, column, value):
    return df.loc[df[column].str.lower() == value.lower()]

In [16]:
def search_multiple_columns(df, col1, val1, col2, val2):
    res_col_1 = search_dataframe(df, col1, val1)
    return search_dataframe(res_col_1, col2,val2)

In [17]:
for item in category_pairs:
    drug_list = search_multiple_columns(output_df_c, "ClassA", item[0], "ClassB", item[1])
    drug_list_concatenated = []
    for index, row in drug_list.iterrows():
        drug_1 = row["DrugA"]
        drug_2 = row["DrugB"]

        drug_com = int(row["DrugsScore"])

        webmd = int(row["WebmdScore"])

        if drug_com == -1 or webmd == -1:
            continue

        if drug_com == 5:
            drug_com = 4    
        drug_list_concatenated.append((drug_1, drug_2,drug_com,webmd))
    try:    
        fleiss_score = calculate_fleiss_kappa(drug_list_concatenated)
        print(f"{item[0]}->{item[1]}: {fleiss_score}")
    except:
        print(f"{item[0]}->{item[1]}: NAN")

### C-> Others

In [18]:
output_df_c_others = pd.read_excel(ROOT_FOLDER+DATABASE_OTHER_PAIRS, sheet_name = "output_data_c_others_all")

In [19]:
output_df_c_others

,Unnamed: 0,ClassA,DrugA,ClassB,DrugB,DrugsScore,WebmdScore
0,0,C10,atorvastatin,B01,warfarin,1,0
1,1,C10,atorvastatin,B01,dalteparin,0,0
2,2,C10,atorvastatin,B01,enoxaparin,0,0
3,3,C10,atorvastatin,B01,heparin,0,0
4,4,C10,atorvastatin,B01,tinzaparin,0,0
...,...,...,...,...,...,...,...
19647,6495,C01,regadenoson,G04,Silodosin,0,0
19648,6496,C01,regadenoson,G04,Tamsulosin,0,0
19649,6497,C01,regadenoson,G04,Terazosin,0,0
19650,6498,C01,regadenoson,G04,Dutasteride,0,0
19651,6499,C01,regadenoson,G04,Finasteride,0,0

In [20]:
# Extract only category names
category_names_a = []
category_names_b = []
for index, row in tqdm(output_df_c_others.iterrows(), total = output_df_c_others.shape[0]):
    cat_a = row["ClassA"]
    cat_b = row["ClassB"]
    if cat_a not in category_names_a:
        category_names_a.append(cat_a)
    if cat_b not in category_names_b:
        category_names_b.append(cat_b);

100%|██████████████████████████████████████████████████████████████████████████| 19652/19652 [00:00<00:00, 28122.56it/s]

In [21]:
category_names_a

['C10', 'C09', 'C08', 'C07', 'C04', 'C03', 'C02', 'C01']

In [22]:
category_names_b

['B01',
 'M01',
 'M04',
 'A02',
 'A10',
 'A12',
 'N05BC',
 'N05A',
 'N06A',
 'N06BD',
 'G04']

In [23]:
category_pairs = []
for i in category_names_a:
    for j in category_names_b:
        if i == j:
            continue
        category_pairs.append((i,j))

In [24]:
category_pairs

[('C10', 'B01'),
 ('C10', 'M01'),
 ('C10', 'M04'),
 ('C10', 'A02'),
 ('C10', 'A10'),
 ('C10', 'A12'),
 ('C10', 'N05BC'),
 ('C10', 'N05A'),
 ('C10', 'N06A'),
 ('C10', 'N06BD'),
 ('C10', 'G04'),
 ('C09', 'B01'),
 ('C09', 'M01'),
 ('C09', 'M04'),
 ('C09', 'A02'),
 ('C09', 'A10'),
 ('C09', 'A12'),
 ('C09', 'N05BC'),
 ('C09', 'N05A'),
 ('C09', 'N06A'),
 ('C09', 'N06BD'),
 ('C09', 'G04'),
 ('C08', 'B01'),
 ('C08', 'M01'),
 ('C08', 'M04'),
 ('C08', 'A02'),
 ('C08', 'A10'),
 ('C08', 'A12'),
 ('C08', 'N05BC'),
 ('C08', 'N05A'),
 ('C08', 'N06A'),
 ('C08', 'N06BD'),
 ('C08', 'G04'),
 ('C07', 'B01'),
 ('C07', 'M01'),
 ('C07', 'M04'),
 ('C07', 'A02'),
 ('C07', 'A10'),
 ('C07', 'A12'),
 ('C07', 'N05BC'),
 ('C07', 'N05A'),
 ('C07', 'N06A'),
 ('C07', 'N06BD'),
 ('C07', 'G04'),
 ('C04', 'B01'),
 ('C04', 'M01'),
 ('C04', 'M04'),
 ('C04', 'A02'),
 ('C04', 'A10'),
 ('C04', 'A12'),
 ('C04', 'N05BC'),
 ('C04', 'N05A'),
 ('C04', 'N06A'),
 ('C04', 'N06BD'),
 ('C04', 'G04'),
 ('C03', 'B01'),
 ('C03', 'M01'),
 ('C03', 'M04'),
 ('C03', 'A02'),
 ('C03', 'A10'),
 ('C03', 'A12'),
 ('C03', 'N05BC'),
 ('C03', 'N05A'),
 ('C03', 'N06A'),
 ('C03', 'N06BD'),
 ('C03', 'G04'),
 ('C02', 'B01'),
 ('C02', 'M01'),
 ('C02', 'M04'),
 ('C02', 'A02'),
 ('C02', 'A10'),
 ('C02', 'A12'),
 ('C02', 'N05BC'),
 ('C02', 'N05A'),
 ('C02', 'N06A'),
 ('C02', 'N06BD'),
 ('C02', 'G04'),
 ('C01', 'B01'),
 ('C01', 'M01'),
 ('C01', 'M04'),
 ('C01', 'A02'),
 ('C01', 'A10'),
 ('C01', 'A12'),
 ('C01', 'N05BC'),
 ('C01', 'N05A'),
 ('C01', 'N06A'),
 ('C01', 'N06BD'),
 ('C01', 'G04')]

In [25]:
for item in category_pairs:
    drug_list = search_multiple_columns(output_df_c_others, "ClassA", item[0], "ClassB", item[1])
    drug_list_concatenated = []
    for index, row in drug_list.iterrows():
        drug_1 = row["DrugA"]
        drug_2 = row["DrugB"]

        drug_com = int(row["DrugsScore"])

        webmd = int(row["WebmdScore"])

        if drug_com == -1 or webmd == -1:
            continue

        if drug_com == 5:
            drug_com = 4    
        drug_list_concatenated.append((drug_1, drug_2,drug_com,webmd))
    try:    
        fleiss_score = calculate_fleiss_kappa(drug_list_concatenated)
        print(f"{item[0]}->{item[1]}: {fleiss_score}")
    except:
        print(f"{item[0]}->{item[1]}: NAN")

C10->B01: 0.4742113169754617
C10->M01: 0.21214004936465808
C10->M04: 0.6144922363019812
C10->A02: 0.06831648658069107
C10->A10: 0.5117348743955653
C10->A12: 1.7976931348623157e+308
C10->N05BC: 0.25333333333333313
C10->N05A: -0.010132501948551883
C10->N06A: 0.08603667136812532
C10->N06BD: 0.6622889305816152
C10->G04: -0.020242914979752082
C09->B01: 0.440156562658047
C09->M01: 0.23675658744763312

/opt/conda/lib/python3.11/site-packages/statsmodels/stats/inter_rater.py:267: RuntimeWarning: invalid value encountered in scalar divide
  kappa = (p_mean - p_mean_exp) / (1- p_mean_exp)

C09->M04: 0.801047120418848
C09->A02: -0.007836045810726314
C09->A10: 0.7958377574856657
C09->A12: -0.5704187058183795
C09->N05BC: -0.27611818828226065
C09->N05A: -0.38088829071332414
C09->N06A: -0.21005586592178724
C09->N06BD: 1.7976931348623157e+308
C09->G04: 0.9108997119313993
C08->B01: 0.10750234867803046
C08->M01: -0.31143921622740445
C08->M04: 0.5319148936170212
C08->A02: 0.4618235730170497
C08->A10: 0.4549577640455813
C08->A12: 1.7976931348623157e+308
C08->N05BC: -0.29351946010908747
C08->N05A: -0.39025134832604014
C08->N06A: -0.006901561932437382
C08->N06BD: -0.23066798288910828
C08->G04: 0.11812827225130877
C07->B01: 0.07087144616485792
C07->M01: 1.0
C07->M04: 1.0
C07->A02: 0.12194522903107051
C07->A10: 0.16147765768672373
C07->A12: -0.3000000000000003
C07->N05BC: -0.16374187772993168
C07->N05A: -0.44866997754949306
C07->N06A: -0.18948932509580071
C07->N06BD: -0.18264520643806847
C07->G04: 0.9781171095346881
C04->B01: -0.12784118154790436
C04->M01: -0.09848794442174093
C04->M04: 1.7976931348623157e+308
C04->A02: 1.0
C04->A10: 0.0867799669123177
C04->A12: 1.7976931348623157e+308
C04->N05BC: -0.15107913669064738
C04->N05A: -0.2428078250863059
C04->N06A: -0.125
C04->N06BD: 1.7976931348623157e+308
C04->G04: 0.20310478654592476
C03->B01: 0.2647112459788901
C03->M01: 0.7722754382794145
C03->M04: -0.032833917755817774
C03->A02: -0.13632171186127967
C03->A10: 0.1176533622900579
C03->A12: -0.03636363636363632
C03->N05BC: -0.17817452580564339
C03->N05A: -0.44747863963813034
C03->N06A: -0.3219276047970073
C03->N06BD: 0.46236559139784983
C03->G04: -0.0869928201703124
C02->B01: 0.330251745818733
C02->M01: 0.7089947089947091
C02->M04: -0.015384615384612409
C02->A02: -0.004149377593372974
C02->A10: 0.41978180388559494
C02->A12: 1.7976931348623157e+308
C02->N05BC: -0.31275931192019035
C02->N05A: -0.36021505376344076
C02->N06A: -0.07965358708435798
C02->N06BD: 1.7976931348623157e+308
C02->G04: 0.3117318435754189
C01->B01: 0.2871705546585646
C01->M01: 0.48529133542087377
C01->M04: 0.6536922517279018
C01->A02: 0.3273395137309777
C01->A10: 0.17955293911928438
C01->A12: 0.32464307883302307
C01->N05BC: 0.12860859833738794
C01->N05A: 0.26720759179241577
C01->N06A: 0.34514326477232204
C01->N06BD: 0.2279745685740235
C01->G04: 0.31510791366906477